$colors: (
    base: #595857,
    gray-base: #c4c4c4,
    gray-dark: #4f4f4f,
    gray-light: #e0e0e0,
);

@function color($color-name: brand) {
    @return map-get($colors, $color-name);
}

$transition: .5s;
$opacity: .7;
